<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
  <!-- 원본 :  <resultMap type="memberResultSet" id="Member"> -->
  <!-- type , id 반대로 씀 -->
  
  <!-- 수정본 -->
  <resultMap id="memberResultSet"  type="Member">
  	<id property="memberId" column="MEMBER_ID"/>
  	<result property="memberPwd" column="MEMBER_PWD"/>
  	<result property="memberName" column="MEMBER_NAME"/>
  	<result property="loginWay" column="LOGIN_WAY"/>
  	<result property="memberModifyDate" column="MEMBER_MODIFY_DATE"/>
  	<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
  	<result property="memberHostCount" column="MEMBER_HOST_COUNT"/>
  	<result property="memberJoinCount" column="MEMBER_JOIN_COUNT"/>
  	<result property="memberReptCount" column="MEMBER_REPT_COUNT"/>
  	<result property="memberProPath" column="MEMBER_PRO_PATH"/> 
  	<result property="memberStatusCode" column="MEMBER_STATUS_CODE"/>
  	<result property="memberIntroduce" column="MEMBER_INTRODUCE"/>
  	<result property="memberBirthday" column="MEMBER_BIRTHDAY"/>
  	<result property="memberGender" column="MEMBER_GENDER"/>
  	<result property="memberOpenStatus" column="MEMBER_OPEN_STATUS"/>
  </resultMap>
  
  
  <resultMap type="Group" id="groupResultSet">
		<id property="gNo" column="GROUP_NO"/>
		<result property="gHost" column="GROUP_HOST"/>
		<result property="gOpenStatus" column="GROUP_OPEN_STATUS"/>
		<result property="gName" column="GROUP_NAME"/>
		<result property="gLimit" column="GROUP_LIMIT"/>
		<result property="gInfo" column="GROUP_INFO"/>
		<result property="gMemCount" column="GROUP_MEM_COUNT"/>
		<result property="gEnrollDate" column="GROUP_ENROLL_DATE"/>
		<result property="localCode" column="LOCAL_CODE"/>
		<result property="gStatus" column="GROUP_STATUS"/>
		<result property="gCategoryCode" column="GROUP_CATEGORY_CODE"/>
		<result property="gCategoryName" column="GROUP_CATEGORY_NAME"/>
		<result property="gReptCount" column="GROUP_REPT_COUNT"/>
		<result property="gOriginFileName" column="GROUP_ORIGIN_FILENAME"/>
		<result property="gRenameFileName" column="GROUP_RENAME_FILENAME"/>
		<result property="districtName" column="DISTRICT_NAME"/>
		<result property="cityName" column="CITY_NAME"/>
	</resultMap>
	
  	<resultMap type="GroupReport" id="groupReptResultSet">
		<id property="groupReptNo" column="GROUP_REPT_NO"/>
		<result property="groupReptContent" column="GROUP_REPT_CONTENT"/>
		<result property="groupNo" column="GROUP_NO"/>
		<result property="groupName" column="GROUP_NAME"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="groupReptStatus" column="GROUP_REPT_STATUS"/>
		<result property="groupReptDate" column="GROUP_REPT_DATE"/>
	</resultMap>
	
	<resultMap type="GroupMember" id="groupMemberResultSet">
		<result property="memberId" column="MEMBER_ID"/>
		<result property="groupNo" column="GROUP_NO"/>
		<result property="levelCode" column="LEVEL_CODE"/>
		<result property="groupMemReptCount" column="GROUP_MEM_REPT_COUNT"/>
		<result property="memberName" column="MEMBER_NAME"/>
	</resultMap>
	
	
	<select id="memListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM MEMBER
		WHERE MEMBER_STATUS_CODE IN (1, 2)
	</select>
  
  	<select id="selectMemList" resultMap="memberResultSet">
  		SELECT MEMBER_ID, MEMBER_NAME, MEMBER_ENROLL_DATE, 
  			MEMBER_JOIN_COUNT, MEMBER_REPT_COUNT, MEMBER_STATUS_CODE
  		FROM MEMBER
  		WHERE MEMBER_STATUS_CODE != 3
  		ORDER BY MEMBER_ENROLL_DATE DESC
  	</select>
  	
  	<select id="selectMemBasic" parameterType="string" resultMap="memberResultSet">
  		SELECT MEMBER_ID, MEMBER_NAME, LOGIN_WAY, 
  			MEMBER_HOST_COUNT, MEMBER_JOIN_COUNT, MEMBER_PRO_PATH, 
  			MEMBER_REPT_COUNT, MEMBER_STATUS_CODE, MEMBER_ENROLL_DATE
  		FROM MEMBER
  		WHERE MEMBER_STATUS_CODE != 3 AND MEMBER_ID = #{memberId}
  	</select>
  	
 	<select id="selectMemDetail" parameterType="string" resultMap="memberResultSet">
  		SELECT MEMBER_INTRODUCE, MEMBER_BIRTHDAY, MEMBER_GENDER, MEMBER_OPEN_STATUS
  		FROM MEMBER_ADD_INFO
  		WHERE MEMBER_ID = #{memberId}
  	</select>
  	
  	<select id="selectMemGroupList" parameterType="string" resultMap="groupMemberResultSet">
  		SELECT GROUP_NO, LEVEL_CODE, GROUP_MEM_REPT_COUNT
  		FROM GROUP_MEMBER
  		WHERE MEMBER_ID = #{memberId}
  	</select>
  
  	<select id="selectJoinGroupList" parameterType="string" resultMap="groupResultSet">
  		SELECT GROUP_NO, GROUP_OPEN_STATUS, GROUP_NAME, DISTRICT_NAME, 
  			GROUP_STATUS, GROUP_CATEGORY_NAME, GROUP_ENROLL_DATE
  		FROM "GROUP" G
  		JOIN LOCAL_DISTRICT_CATEGORY L ON(G.LOCAL_CODE = L.DISTRICT_CODE)
  		JOIN GROUP_CATEGORY USING(GROUP_CATEGORY_CODE)
  		JOIN GROUP_MEMBER USING(GROUP_NO)
  		WHERE MEMBER_ID = #{memberId}
  	</select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  	<select id="getGroupReptListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM GROUP_REPORT
		ORDER BY GROUP_REPT_DATE DESC
	</select>
  	
  	<select id="selectGroupReptList" resultMap="groupReptResultSet">
		SELECT GR.*, G.GROUP_NAME
		FROM GROUP_REPORT GR
		JOIN "GROUP" G ON(GR.GROUP_NO = G.GROUP_NO)
		ORDER BY GROUP_REPT_DATE DESC
	</select>
  	

  	<select id="getGroupListCount" resultType="_int">
		SELECT COUNT(*) 
		FROM "GROUP"
		ORDER BY 1 DESC
	</select>
  	
  	<select id="selectGroupList" resultMap="groupResultSet">
		SELECT *
		FROM "GROUP" 
		ORDER BY GROUP_ENROLL_DATE DESC
	</select>
  	
  	<select id="selectGroupDetail" parameterType="_int" resultMap="groupResultSet">
  		SELECT G.*, GC.GROUP_CATEGORY_NAME,LDC.DISTRICT_NAME,LCC.CITY_NAME
  		FROM "GROUP" G
  		JOIN GROUP_CATEGORY GC ON(GC.GROUP_CATEGORY_CODE = G.GROUP_CATEGORY_CODE)
  		JOIN LOCAL_DISTRICT_CATEGORY LDC ON(G.LOCAL_CODE = LDC.DISTRICT_CODE)
  		JOIN LOCAL_CITY_CATEGORY LCC ON(LDC.CITY_CODE = LCC.CITY_CODE)
  		WHERE GROUP_NO = #{gNo}
  	</select>
  
</mapper>
