<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="albumMapper">

	<resultMap id="albumResultSet" type="Album">
		<id property="albumNo" column="ALBUM_NO"/>
		<result property="albumTitle" column="ALBUM_TITLE"/>
		<result property="albumStatus" column="ALBUM_STATUS"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="groupNo" column="GROUP_NO"/>
		<result property="albumCreateDate" column="ALBUM_CREATE_DATE"/>
		<result property="albumModifyDate" column="ALBUM_MODIFY_DATE"/>
		<result property="albumThumbnail" column="ALBUM_THUMBNAIL"/>
	</resultMap>

	<resultMap id="photoResultSet" type="AlbumPhoto">
		<id property="photoNo" column="PHOTO_NO"/>
		<result property="photoCreateDate" column="PHOTO_CREATE_DATE"/>
		<result property="photoModifyDate" column="PHOTO_MODIFY_DATE"/>
		<result property="photoOriginName" column="PHOTO_ORIGIN_NAME"/>
		<result property="photoRename" column="PHOTO_RENAME"/>
		<result property="albumNo" column="ALBUM_NO"/>
	</resultMap>

	<resultMap id="replyResultSet" type="AlbumReply">
		<id property="arNo" column="AR_NO"/>
		<result property="arContent" column="AR_CONTENT"/>
		<result property="arCreateDate" column="AR_CREATE_DATE"/>
		<result property="arModifyDate" column="AR_MODIFY_DATE"/>
		<result property="arStatus" column="AR_STATUS"/>
		<result property="albumNo" column="ALBUM_NO"/>
		<result property="arWriter" column="AR_WRITER"/>
		<result property="groupNo" column="GROUP_NO"/>
	</resultMap>
	
	<insert id="insertAlbum" parameterType="Album">
		INSERT INTO ALBUM
		VALUES(SEQ_ANO.NEXTVAL, DEFAULT, #{memberId}, #{groupNo},DEFAULT, DEFAULT, #{albumTitle}, #{albumThumbnail})
	</insert>

	<insert id="insertPhoto" parameterType="AlbumPhoto">
		
		INSERT INTO ALBUM_PHOTO VALUES (SEQ_PNO.NEXTVAL, 
		DEFAULT, DEFAULT, #{photoOriginName},#{photoRename}, 
		<if test="albumNo == ''">
		SEQ_ANO.CURRVAL
		</if>
		<if test="albumNo != ''">
		#{albumNo}
		</if>
		,DEFAULT)
		
	</insert>
	
	<select id="selectListCount" parameterType="String" resultType="_int">
		SELECT COUNT(*)
		FROM ALBUM
		WHERE GROUP_NO = #{gno} AND ALBUM_STATUS = 'Y'
	</select>
	
	<select id="selectAlbumList" parameterType="String" resultMap="albumResultSet">
		SELECT *
		FROM ALBUM
		WHERE GROUP_NO = #{gno} AND ALBUM_STATUS = 'Y' ORDER BY 1 DESC
	</select>
	
	<select id="selectAlbum" parameterType="_int" resultMap="albumResultSet">
		SELECT *
		FROM ALBUM
		WHERE ALBUM_NO = #{albumNo}
	</select>
	
	<select id="selectPhotoList" parameterType="_int" resultMap="photoResultSet">
		SELECT *
		FROM ALBUM_PHOTO
		WHERE ALBUM_NO = #{albumNo}
		AND PHOTO_STATUS = 'Y'
	</select>
	
	<update id="deleteAlbum" parameterType="_int">
		UPDATE ALBUM
		SET ALBUM_STATUS = 'N'
		WHERE ALBUM_NO = #{albumNo}
	</update>
	
 	<insert id="insertReply">
		INSERT INTO ALBUM_REPLY
		VALUES(SEQ_ARNO.NEXTVAL,#{arContent},DEFAULT, DEFAULT, DEFAULT,#{albumNo}, #{arWriter},#{groupNo})
	</insert>
	
	<select id="selectReply" parameterType="_int" resultMap="replyResultSet">
		SELECT *
		FROM ALBUM_REPLY
		WHERE ALBUM_NO = #{albumNo}
		AND AR_STATUS = 'Y' ORDER BY 1 DESC
	</select>
	
	<update id="deleteReply" parameterType="AlbumReply">
		UPDATE ALBUM_REPLY
		SET AR_STATUS = 'N'
		WHERE ALBUM_NO = #{albumNo} 
		AND AR_NO = #{arNo}
	</update>

	<update id="updateReply" parameterType="AlbumReply">
		UPDATE ALBUM_REPLY
		SET AR_CONTENT = #{arContent},
		AR_MODIFY_DATE = SYSDATE
		WHERE ALBUM_NO = #{albumNo} 
		AND AR_NO = #{arNo}
	</update>
	
	<update id="deletePhoto" parameterType="AlbumPhoto">
		UPDATE ALBUM_PHOTO
		SET PHOTO_STATUS = 'N'
		WHERE ALBUM_NO = #{albumNo} 
		AND PHOTO_NO = #{photoNo}
	</update>
	
	<update id="updateAlbum" parameterType="ALbum">
		UPDATE ALBUM
		SET ALBUM_TITLE = #{albumTitle},
		ALBUM_MODIFY_DATE = SYSDATE,
		ALBUM_THUMBNAIL =  #{albumThumbnail}
		WHERE ALBUM_NO = #{albumNo}
	</update>
	
	
	<select id="selectPhotoForDelete" parameterType="_int" resultMap="photoResultSet">
		SELECT *
		FROM ALBUM_PHOTO
		WHERE PHOTO_NO = #{photoNo}
	</select>
</mapper>
