<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="boardMapper">
 
	<resultMap type="Board" id="boardResultSet">
  		<id property="boardNo" column="BOARD_NO"/>
  		<result property="boardTitle" column="BOARD_TITLE"/>
  		<result property="boardContent" column="BOARD_CONTENT"/>
  		<result property="boardCreateDate" column="BOARD_CREATE_DATE"/>
  		<result property="boardModifyDate" column="BOARD_MODIFY_DATE"/>
  		<result property="boardStatus" column="BOARD_STATUS"/>
  		<result property="boardTypeCode" column="BOARD_TYPE_CODE"/>
  		<result property="memberId" column="MEMBER_ID"/>
  		<result property="groupNo" column="GROUP_NO"/>
  		<result property="boardCount" column="BOARD_COUNT"/>
  		<result property="memberName" column="MEMBER_NAME"/>
  		<result property="boardAtta" column="BOARD_ATTA"/>
  		<result property="boardAttaOrigin" column="BOARD_ATTA_ORIGIN"/>
  		<result property="boardAttaRename" column="BOARD_ATTA_RENAME"/>
  		<result property="boardAttaStatus" column="BOARD_ATTA_STATUS"/>
  	</resultMap>
  	
  	<resultMap type="Reply" id="replyResultSet">
  		<id property="replyNo" column="REPLY_NO"/>
  		<result property="replyContent" column="REPLY_CONTENT"/>
  		<result property="replyCreateDate" column="REPLY_CREATE_DATE"/>
  		<result property="replyModifyDate" column="REPLY_MODIFY_DATE"/>
  		<result property="replyStatus" column="REPLY_STATUS"/>
  		<result property="boardNo" column="BOARD_NO"/>
  		<result property="memberId" column="MEMBER_ID"/>
  		<result property="memberName" column="MEMBER_NAME"/>
  		<result property="groupNo" column="GROUP_NO"/>
  	</resultMap>
  	
	<!-- 전체 게시글 수 조회 쿼리 -->
	<select id="boardListCount" resultType="_int" parameterType="_int">
		SELECT COUNT(*) FROM BOARD WHERE BOARD_STATUS = 'Y' AND GROUP_NO = #{groupNo}
	</select>
	
	<!-- 게시글 목록 조회 쿼리 -->
	<select id="boardList" resultMap="boardResultSet" parameterType="_int">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_CREATE_DATE, BOARD_MODIFY_DATE,
		BOARD_STATUS, BOARD_TYPE_CODE, MEMBER_ID, GROUP_NO, BOARD_COUNT, MEMBER_NAME
		FROM BOARD JOIN MEMBER USING(MEMBER_ID) WHERE GROUP_NO = #{groupNo} AND BOARD_STATUS = 'Y' ORDER BY BOARD_NO DESC
	</select>
	
	<!-- 게시글 조회수 증가 쿼리 -->
	<update id="addBoardCount" parameterType="_int">
		UPDATE BOARD SET BOARD_COUNT = BOARD_COUNT + 1 WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 게시글 상세 조회 쿼리 -->
	<select id="boardDetail" parameterType="_int" resultMap="boardResultSet">
		SELECT BOARD_NO, BOARD_TITLE, BOARD_CONTENT, BOARD_CREATE_DATE, BOARD_MODIFY_DATE, BOARD_STATUS, BOARD_TYPE_CODE, MEMBER_ID, GROUP_NO, BOARD_COUNT, BOARD_ATTA, BOARD_ATTA_ORIGIN, BOARD_ATTA_RENAME, BOARD_ATTA_STATUS, MEMBER_NAME
		FROM BOARD
		JOIN BOARD_ATTACHMENT USING(BOARD_NO)
		JOIN MEMBER USING(MEMBER_ID)
		WHERE BOARD_NO = #{boardNo} AND BOARD_STATUS = 'Y'
	</select>
	
	<!-- 게시글 등록 쿼리 -->
	<insert id="boardInsert" parameterType="Board">
		INSERT INTO BOARD
		VALUES(SEQ_BNO.NEXTVAL, #{boardTitle}, #{boardContent}, SYSDATE, SYSDATE, DEFAULT, #{boardTypeCode}, #{memberId}, #{groupNo}, DEFAULT)
	</insert>
	
	<!-- 첨부파일 등록 쿼리 -->
	<insert id="boardAttachInsert" parameterType="Board">
		INSERT INTO BOARD_ATTACHMENT
		VALUES(SEQ_BANO.NEXTVAL, SEQ_BNO.CURRVAL, #{boardAttaOrigin}, #{boardAttaRename}, DEFAULT)
	</insert>
	
	<!-- 게시글 수정 쿼리 -->
	<update id="boardModify" parameterType="Board">
		UPDATE BOARD SET
		BOARD_TITLE = #{boardTitle}, BOARD_CONTENT = #{boardContent}, BOARD_MODIFY_DATE = SYSDATE, BOARD_TYPE_CODE = #{boardTypeCode}
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 첨부파일 수정 쿼리 -->
	<update id="boardAttachModify" parameterType="Board">
		UPDATE BOARD_ATTACHMENT SET
		BOARD_ATTA_ORIGIN = #{boardAttaOrigin}, BOARD_ATTA_RENAME = #{boardAttaRename}
		WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 게시글 삭제 쿼리 -->
	<update id="boardDelete" parameterType="_int">
		UPDATE BOARD SET BOARD_STATUS = 'N' WHERE BOARD_NO = #{boardNo}
	</update>
	
	<!-- 댓글 조회 쿼리 -->
	<select id="replyList" parameterType="Reply" resultMap="replyResultSet">
		SELECT REPLY_NO, REPLY_CONTENT, TO_CHAR(REPLY_CREATE_DATE, 'YYYY.MM.DD HH:MI') REPLY_CREATE_DATE, TO_CHAR(REPLY_MODIFY_DATE, 'YYYY.MM.DD HH:MI') REPLY_MODIFY_DATE, REPLY_STATUS, R.MEMBER_ID, MEMBER_NAME, GROUP_NO
		FROM REPLY R
		JOIN MEMBER M ON(R.MEMBER_ID = M.MEMBER_ID)
		JOIN BOARD USING(BOARD_NO)
		WHERE BOARD_NO = #{boardNo} AND GROUP_NO = #{groupNo} AND REPLY_STATUS = 'Y' ORDER BY REPLY_NO DESC
	</select>
	
	<!-- 댓글 등록 쿼리 -->
	<insert id="replyInsert" parameterType="Reply">
		INSERT INTO REPLY VALUES
		(SEQ_RNO.NEXTVAL, #{replyContent}, SYSDATE, SYSDATE, DEFAULT, #{boardNo}, #{memberId})
	</insert>
	
	
	<!-- 작성자 구하기 쿼리  -->
	<select id="getWriter" parameterType="_int" resultType="string">
		SELECT MEMBER_ID
		FROM BOARD
		WHERE BOARD_NO = #{boardNo}
	</select>
	
	<!-- 댓글 수정 쿼리 -->
	<update id="replyUpdate" parameterType="Reply">
		UPDATE REPLY SET REPLY_CONTENT = #{replyContent}, REPLY_MODIFY_DATE = SYSDATE WHERE REPLY_NO = #{replyNo}
	</update>
	
	<!-- 댓글 삭제 쿼리 -->
	<update id="replyDelete" parameterType="_int">
		UPDATE REPLY SET REPLY_STATUS = 'N' WHERE REPLY_NO = #{replyNo}
	</update>
</mapper>







