<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="eventMapper">

	<insert id="insertOne" parameterType="Event">
	 	INSERT INTO GROUP_EVENT VALUES(
	 		SEQ_EID.NEXTVAL, #{eTitle}, #{eContent}, #{eStart}, #{eEnd}, #{gno}, #{eLimit}
	 	)
	</insert>
</mapper>
