<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="groupMapper">
	<resultMap type="Group" id="groupResultSet">
		<id property="gNo" column="GROUP_NO"/>
		<result property="gHost" column="GROUP_HOST"/>
		<result property="gOpenStatus" column="GROUP_OPEN_STATUS"/>
		<result property="gName" column="GROUP_NAME"/>
		<result property="gLimit" column="GROUP_LIMIT"/>
		<result property="gInfo" column="GROUP_INFO"/>
		<result property="gMemCount" column="GROUP_MEM_COUNT"/>
		<result property="localCode" column="LOCAL_CODE"/>
		<result property="gStatus" column="GROUP_STATUS"/>
		<result property="gCategoryCode" column="GROUP_CATEGORY_CODE"/>
		<result property="gReptCount" column="GROUP_REPT_COUNT"/>
		<result property="filePath" column="GROUP_FILE_PATH"/>
		<result property="gEnrollDate" column="GROUP_ENROLL_DATE"/>
		<result property="gModifyDate" column="GROUP_MODIFY_DATE"/>
		<result property="districtName" column="DISTRICT_NAME"/>
	</resultMap>
	
	<resultMap type="GroupMember" id="groupMemberResultSet">
		<result property="memberId" column="MEMBER_ID"/>
		<result property="groupNo" column="GROUP_NO"/>
		<result property="levelCode" column="LEVEL_CODE"/>
		<result property="groupMemReptCount" column="GROUP_MEM_REPT_COUNT"/>
		<result property="memberName" column="MEMBER_NAME"/>
	</resultMap>
	
	<!-- 모임 등록 쿼리 -->
	<insert id="insertGroup" parameterType="Group">
		INSERT INTO "GROUP" 
		VALUES(SEQ_GNO.NEXTVAL, #{gHost}, #{gOpenStatus}, 
				#{gName}, #{gLimit}, #{gInfo}, #{gMemCount}, 
				#{localCode}, DEFAULT, #{gCategoryCode}, 
				DEFAULT, #{filePath}, SYSDATE, SYSDATE)
	</insert>
  	
  	
  	<select id="selectGroup" parameterType="_int" resultMap="groupResultSet">
  		SELECT GROUP_NO,GROUP_HOST,GROUP_OPEN_STATUS,GROUP_NAME,GROUP_LIMIT,GROUP_INFO,GROUP_MEM_COUNT,
		LOCAL_CODE,GROUP_STATUS,GROUP_CATEGORY_CODE,GROUP_FILE_PATH,GROUP_ENROLL_DATE,GROUP_MODIFY_DATE,DISTRICT_NAME
		FROM "GROUP"  
		JOIN LOCAL_DISTRICT_CATEGORY ON "GROUP".GROUP_CATEGORY_CODE = LOCAL_DISTRICT_CATEGORY.DISTRICT_CODE
		WHERE GROUP_NO= #{gNo}
  	</select>
  	
  	<select id="selectCode" parameterType="map" resultType="_int">
  		SELECT LEVEL_CODE FROM GROUP_MEMBER WHERE GROUP_NO = #{gNo} AND MEMBER_ID = #{memberId}
  	</select>
  	
  	<insert id="applyInsertGroup" parameterType="map">
  		INSERT INTO GROUP_MEMBER VALUES(#{memberId},#{gNo},4,DEFAULT)
  	</insert>
  	
	<!-- 그릅 회원 등급 조정 -->
	<update id="updateLevel" parameterType="GroupMember">
		UPDATE GROUP_MEMBER
		SET LEVEL_CODE = #{levelCode}
		WHERE MEMBER_ID = #{memberId}
	</update> 	
	
	<!-- 그룹 회원 목록 조회 쿼리 -->
	<select id="groupMemberList" parameterType="_int" resultMap="groupMemberResultSet">
		SELECT MEMBER_ID, GROUP_NO, LEVEL_CODE, GROUP_MEM_REPT_COUNT, MEMBER_NAME
		FROM GROUP_MEMBER JOIN MEMBER USING(MEMBER_ID)
		WHERE GROUP_NO = #{groupNo} AND (LEVEL_CODE = 0 OR LEVEL_CODE= 1 OR LEVEL_CODE = 2) ORDER BY LEVEL_CODE
	</select> 
	
	<!-- 대기 그룹 회원 목록 조회 쿼리 -->
	<select id="waitingGroupMemberList" parameterType="_int" resultMap="groupMemberResultSet">
		SELECT MEMBER_ID, GROUP_NO, LEVEL_CODE, GROUP_MEM_REPT_COUNT, MEMBER_NAME
		FROM GROUP_MEMBER JOIN MEMBER USING(MEMBER_ID)
		WHERE GROUP_NO = #{groupNo} AND (LEVEL_CODE = 3 OR LEVEL_CODE= 4)
	</select>
	
	<!-- 모임생성 성공시 관리자로 로그인유저정보 등록 -->
	<insert id="insertGroupMemberAdmin" parameterType="string">
		INSERT INTO GROUP_MEMBER VALUES(#{memberId},SEQ_GNO.CURRVAL,0,DEFAULT)
	</insert>
	
	<!-- 모임가입신청 대기중인 멤버 수락  -->
	<insert id="acceptGroup" parameterType="map">
		UPDATE GROUP_MEMBER SET LEVEL_CODE = 2 WHERE MEMBER_ID=#{memberId} AND GROUP_NO = #{gNo}		
	</insert>
	
	<!-- 모임가입신청 대기중인 멤버 거절  -->
	<insert id="rejectGroup" parameterType="map">
		DELETE GROUP_MEMBER WHERE MEMBER_ID=#{memberId} AND GROUP_NO = #{gNo}		
	</insert>
	
	<!-- 모임 인원 늘려주기 -->
	<update id="updateGroupCount" parameterType="_int">
		UPDATE "GROUP" SET GROUP_MEM_COUNT = GROUP_MEM_COUNT+1 WHERE GROUP_NO = #{gNo}
	</update>

</mapper>

