<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
  <!-- 원본 :  <resultMap type="memberResultSet" id="Member"> -->
  <!-- type , id 반대로 씀 -->
  
  <!-- 수정본 -->
  <resultMap id="memberResultSet"  type="Member">
  	<id property="memberId" column="MEMBER_ID"/>
  	<result property="memberPwd" column="MEMBER_PWD"/>
  	<result property="memberName" column="MEMBER_NAME"/>
  	<result property="loginWay" column="LOGIN_WAY"/>
  	<result property="memberModifyDate" column="MEMBER_MODIFY_DATE"/>
  	<result property="memberEnrollDate" column="MEMBER_ENROLL_DATE"/>
  	<result property="memberHostCount" column="MEMBER_HOST_COUNT"/>
  	<result property="memberJoinCount" column="MEMBER_JOIN_COUNT"/>
  	<result property="memberReptCount" column="MEMBER_REPT_COUNT"/>
  	<result property="memberProPath" column="MEMBER_PRO_PATH"/>
  	<result property="memberStatusCode" column="MEMBER_STATUS_CODE"/>
  </resultMap>
  
  
  <resultMap type="Group" id="groupResultSet">
		<id property="gNo" column="GROUP_NO"/>
		<result property="gHost" column="GROUP_HOST"/>
		<result property="gOpenStatus" column="GROUP_OPEN_STATUS"/>
		<result property="gName" column="GROUP_NAME"/>
		<result property="gLimit" column="GROUP_LIMIT"/>
		<result property="gInfo" column="GROUP_INFO"/>
		<result property="gMemCount" column="GROUP_MEM_COUNT"/>
		<result property="gEnrollDate" column="GROUP_ENROLL_DATE"/>
		<result property="localCode" column="LOCAL_CODE"/>
		<result property="gStatus" column="GROUP_STATUS"/>
		<result property="gCategoryCode" column="GROUP_CATEGORY_CODE"/>
		<result property="gReptCount" column="GROUP_REPT_COUNT"/>
		<result property="gOriginFileName" column="GROUP_ORIGIN_FILENAME"/>
		<result property="gRenameFileName" column="GROUP_RENAME_FILENAME"/>
	</resultMap>
  
  
  
  
  
  <select id="loginMember" parameterType="Member" 
			resultMap="memberResultSet">
			
	SELECT * FROM MEMBER
	WHERE MEMBER_ID = #{memberId} 
	AND MEMBER_STATUS_CODE != 3 

  
  </select>
  
  <!-- 회원가입  -->
  <insert id="insertMember" parameterType="Member" >
  	INSERT INTO MEMBER
  	VALUES(
  		#{memberId}, #{memberPwd}, #{memberName}, 'E'
  		,SYSDATE, SYSDATE, DEFAULT, DEFAULT, DEFAULT, 'PATH', 2
  	)
  </insert>
  
  
  <!-- email 중복체크 -->
  <select id="checkIdDup" parameterType="string" resultType="_int">
  	SELECT COUNT(*)
  	FROM MEMBER
  	WHERE MEMBER_ID = #{memberId}
  </select>
  
  <!-- 닉네임 중복 체크 -->
  <select id="checkNameDup" parameterType="string" resultType="_int">
  	SELECT COUNT(*)
  	FROM MEMBER
  	WHERE MEMBER_NAME = #{memberName}
  </select>
  

  <!-- 해당 아이디의 이름 조회 쿼리 : 승화 필요 -->
  <select id="idToName" parameterType="string" resultType="string">
	SELECT MEMBER_NAME FROM MEMBER WHERE MEMBER_ID = #{replyWriter}
  </select>

  <!-- 내 모임 목록 갯수 -->
  <select id="groupCount" parameterType="Member"  resultType="_int">
  	SELECT MEMBER_JOIN_COUNT
  	FROM MEMBER
  	WHERE MEMBER_ID= #{memberId}
  	<!-- AND 모임상태 != 탈퇴나  폐쇄  -->
  </select>
  
  <!-- 내 목록 조회 -->
  <select id="selectList" parameterType="Member" resultMap="groupResultSet">
  	SELECT GROUP_NAME,GROUP_INFO, GROUP_ORIGIN_FILENAME
	FROM GROUP_MEMBER
	JOIN "GROUP" USING(GROUP_NO) 
	WHERE MEMBER_ID = #{memberId}
  </select>
  
  <update id="deleteMember" parameterType="Member">
  	UPDATE MEMBER
  	SET MEMBER_STATUS_CODE = 3
  	WHERE MEMBER_ID = #{memberId}
  </update>
  
</mapper>
