<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reportMapper">
	
	<!-- 모임 회원 신고 -->
	<resultMap id="groupMemReportResultSet" type="GroupMemberReport">
		<id property="rNo" column="MEMBER_REPT_NO"/>
		<result property="rContent" column="MEMBER_REPT_CONTENT"/>
		<result property="rCategory" column="MEMBER_REPT_CATEGORY"/>
		<result property="reportId" column="REPORTER_ID"/>
		<result property="reportGNo" column="REPORTER_GROUP_NO"/>
		<result property="responId" column="RESPONDENT_ID"/>
		<result property="responGNo" column="RESPONDENT_GROUP_NO"/>
		<result property="rStatus" column="MEMBER_REPT_STATUS"/>
		<result property="rDate" column="REPORT_DATE"/>
		<result property="rStatusDate" column="REPT_STATUS_DATE"/>
		<result property="rBoardStatus" column="MEMBER_REPT_B_STATUS"/>
	</resultMap>
	
	
	<!-- 모임 회원 신고글 전체수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM GROUP_MEMBER_REPORT
		WHERE MEMBER_REPT_B_STATUS='Y'
	</select>
	
	<!-- 모임 회원 신고글 목록 조회 -->
	<select id="selectbList" resultMap="groupMemReportResultSet">
		SELECT MEMBER_REPT_NO, REPORTER_ID, RESPONDENT_ID, MEMBER_REPT_CATEGORY, REPORT_DATE
		FROM GROUP_MEMBER_REPORT
		ORDER BY MEMBER_REPT_NO DESC
	</select>
	
	
	<!-- 검색용 쿼리 -->
	<select id="searchbList" parameterType="Search" resultMap="groupMemReportResultSet">
		<bind name="sv" value="'%'+ _parameter.getSearchText() +'%'"/>
		
		SELECT MEMBER_REPT_NO, REPORTER_ID, RESPONDENT_ID, MEMBER_REPT_CATEGORY, REPORT_DATE
		FROM GROUP_MEMBER_REPORT
		<where>
			<choose>
				<when test="searchSel == 'rept'">
					AND REPORTER_ID LIKE #{sv}
				</when>
				<when test="searchSel == 'resp'">
					AND RESPONDENT_ID LIKE #{sv}
				</when>
				<when test="searchSel == 'category'">
					AND MEMBER_REPT_CATEGORY LIKE #{sv}
				</when>
				<otherwise>
					AND (REPORTER_ID LIKE #{sv}
						OR RESPONDENT_ID LIKE #{sv}
						OR MEMBER_REPT_CATEGORY LIKE #{sv})
				</otherwise>
			</choose>
		</where>
		
	</select>
	
	
	

</mapper>
