<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reportMapper">
	
	<!-- 모임 회원 신고 -->
	<resultMap id="groupMemReportResultSet" type="GroupMemberReport">
		<id property="rNo" column="MEMBER_REPT_NO"/>
		<result property="rContent" column="MEMBER_REPT_CONTENT"/>
		<result property="rCategory" column="MEMBER_REPT_CATEGORY"/>
		<result property="reportId" column="REPORTER_ID"/>
		<result property="reportGNo" column="REPORTER_GROUP_NO"/>
		<result property="responId" column="RESPONDENT_ID"/>
		<result property="responGNo" column="RESPONDENT_GROUP_NO"/>
		<result property="rStatus" column="MEMBER_REPT_STATUS"/>
		<result property="rDate" column="REPORT_DATE"/>
		<result property="rStatusDate" column="REPT_STATUS_DATE"/>
		<result property="rBoardStatus" column="MEMBER_REPT_B_STATUS"/>
	</resultMap>
	
	
	<!-- 모임 회원 -->
	<resultMap id="groupMemResultSet" type="GroupMember">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="groupNo" column="GROUP_NO"/>
		<result property="levelCode" column="LEVEL_CODE"/>
		<result property="groupMemReptCount" column="GROUP_MEM_REPT_COUNT"/>
		<result property="memberName" column="MEMBER_NAME"/>
	</resultMap>
	
	<!-- 그룹 신고 -->
	<resultMap id="groupReptResultSet" type="GroupReport">
		<id property="groupReptNo" column="GROUP_REPT_NO"/>
		<result property="groupReptContent" column="GROUP_REPT_CONTENT"/>
		<result property="groupNo" column="GROUP_NO"/>
		<result property="memberId" column="MEMBER_ID"/>
		<result property="groupReptStatus" column="GROUP_REPT_STATUS"/>
		<result property="groupReptDate" column="GROUP_REPT_DATE"/>
	</resultMap>


	<!-- 회원 신고 -->
	<resultMap id="memberReptResultSet" type="MemberReport">
		<id property="memReptNo" column="MEMBER_REPT_NO"/>
		<result property="memReptContent" column="MEMBER_REPT_CONTENT"/>
		<result property="memReptStatus" column="MEMBER_REPT_STATUS"/>
		<result property="reporterId" column="REPORTER_ID"/>
		<result property="reportedId" column="REPORTED_ID"/>
		<result property="memReptDate" column="MEMBER_REPT_DATE"/>
	</resultMap>
	
	
	
	
	<!-- 모임 회원 신고글 전체수 조회 -->
	<select id="getListCount" resultType="_int">
		SELECT COUNT(*)
		FROM GROUP_MEMBER_REPORT
		WHERE MEMBER_REPT_B_STATUS='미처리'
	</select>
	
	<!-- 모임 회원 신고글 목록 조회 -->
	<select id="selectbList" resultMap="groupMemReportResultSet">
		SELECT MEMBER_REPT_NO, a.MEMBER_NAME AS REPORTER_ID, b.MEMBER_NAME AS RESPONDENT_ID, MEMBER_REPT_CATEGORY, REPORT_DATE 
		FROM GROUP_MEMBER_REPORT 
		JOIN MEMBER a ON(REPORTER_ID = a.MEMBER_ID)  
		JOIN MEMBER b ON(RESPONDENT_ID = b.MEMBER_ID)
		WHERE MEMBER_REPT_B_STATUS='미처리'  
		ORDER BY MEMBER_REPT_NO DESC 
	</select>
	

	
	
	<!-- 검색용 쿼리 -->
	<select id="searchbList" parameterType="Search" resultMap="groupMemReportResultSet">
		<bind name="sv" value="'%'+ _parameter.getSearchText() +'%'"/>
		
		SELECT MEMBER_REPT_NO, REPORTER_ID, RESPONDENT_ID, MEMBER_REPT_CATEGORY, REPORT_DATE
		FROM GROUP_MEMBER_REPORT
		<where>
			<choose>
				<when test="searchSel == 'rept'">
					AND REPORTER_ID LIKE #{sv}
				</when>
				<when test="searchSel == 'resp'">
					AND RESPONDENT_ID LIKE #{sv}
				</when>
				<when test="searchSel == 'category'">
					AND MEMBER_REPT_CATEGORY LIKE #{sv}
				</when>
				<otherwise>
					AND (REPORTER_ID LIKE #{sv}
						OR RESPONDENT_ID LIKE #{sv}
						OR MEMBER_REPT_CATEGORY LIKE #{sv})
				</otherwise>
			</choose>
		</where>
	</select>
	
	
	
	<!-- 신고글 작성 -->
	<insert id="insertReport">
		INSERT INTO GROUP_MEMBER_REPORT VALUES(SEQ_MEMBER_REPT_NO.NEXTVAL, #{rContent}, #{rCategory}, #{reportId}, #{reportGNo}, #{responId}, #{responGNo}, DEFAULT, DEFAULT, DEFAULT, SYSDATE)
	</insert>
	
	<!-- 신고글 상세조회 -->
	<select id="selectReport" resultMap="groupMemReportResultSet" parameterType="_int">
		SELECT *
		FROM GROUP_MEMBER_REPORT
		WHERE MEMBER_REPT_NO = #{rNo}
		AND MEMBER_REPT_B_STATUS = '미처리'
	</select>
	
	<!-- 신고글 거절 --><!-- 신고글 상태 처리로 바꿈(거절, 수락 둘다) -->
	<update id="deleteReport" parameterType="_int">
		UPDATE GROUP_MEMBER_REPORT
		SET MEMBER_REPT_B_STATUS = '처리'
		WHERE MEMBER_REPT_NO = #{rNo}
	</update>
	
	
	<!-- 회원 신고 횟수 카운트 -->
	<update id="updateReportCount" parameterType="GroupMemberReport">
	UPDATE GROUP_MEMBER
		SET GROUP_MEM_REPT_COUNT = GROUP_MEM_REPT_COUNT +1
		WHERE MEMBER_ID = #{responId}
		AND GROUP_NO = #{responGNo}
	</update>
	
	
	<!-- 신고받은 그룹 회원  카운트 -->
	<select id="selectReptMemberCount" parameterType="_int" resultType="_int">
		SELECT COUNT(*)
		FROM GROUP_MEMBER
		WHERE GROUP_NO = #{responGNo}
		AND GROUP_MEM_REPT_COUNT > 0
	</select> 
	
	
	
	
	<!-- 신고 받은 그룹 회원 목록 -->
	<select id="selectGroupMember" parameterType="_int" resultMap="groupMemResultSet">
		SELECT GM.*, M.MEMBER_NAME
		FROM GROUP_MEMBER GM
		JOIN MEMBER M ON(M.MEMBER_ID = GM.MEMBER_ID)
		WHERE GM.GROUP_NO = #{responGNo}
		AND GM.GROUP_MEM_REPT_COUNT > 0
		AND GM.LEVEL_CODE != 10
	</select>
	
	
	<!-- 신고 받은 회원 강퇴하기 -->
	<update id="deleteReptGroupMem" parameterType="GroupMember">
		UPDATE GROUP_MEMBER
		SET LEVEL_CODE = 10
		WHERE GROUP_NO = #{groupNo} 
		AND MEMBER_ID = #{memberId}
		
	</update>
	
	
	
	
	<!-- 그룹 신고 insert -->
	<insert id="insertGroupReport" parameterType="GroupReport">
		INSERT INTO GROUP_REPORT
		VALUES(SEQ_G_RNO.NEXTVAL, #{groupReptContent},#{groupNo},#{memberId},DEFAULT, DEFAULT)
	</insert>

	<update id="updateGroupReptCount" parameterType="GroupReport" >
		UPDATE "GROUP"
		SET GROUP_REPT_COUNT = GROUP_REPT_COUNT + 1
		WHERE GROUP_NO = #{groupNo}
	</update>
	
	<!-- 회원 신고 insert -->
	<insert id="insertMemberReport" parameterType="MemberReport">
		INSERT INTO MEMBER_REPORT
		VALUES(SEQ_M_RNO.NEXTVAL, #{memReptContent},DEFAULT,#{reporterId},#{reportedId}, DEFAULT)
	</insert>
	
	<update id="updateMemberReptCount" parameterType="MemberReport" >
		UPDATE MEMBER
		SET MEMBER_REPT_COUNT = MEMBER_REPT_COUNT + 1
		WHERE MEMBER_ID = #{reportedId}
	</update>
</mapper>
