@charset "UTF-8";

div {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid gray;
}

#board-detail-container {
	margin: auto;
	width: 1000px;
	height: 100%;
}

#board-detail-container * {
	font-family: 'Noto Sans KR', sans-serif;
}

#board-part {
	width: 1000px;
	height: 850px;
	margin: auto;
}

#board-part div {
	float: left;
	/* margin: auto; */
}

#board-viewCount {
	margin-top: 50px;
	width: 100%;
	height: 25px;
	text-align: right;
	font-weight: bold;
}

#viewCount {
	font-size: 12px;
}

#board-writer, #board-writeDate {
	width: 50%;
	height: 35px;
	font-size: 20px;
	font-weight: bold;
}

#board-writer {
	text-align: left;
}

#board-writeDate {
	text-align: right;
}

#board-title {
	width: 100%;
	height: 55px;
	border-bottom: 2px solid rgb(190, 190, 190);
	font-size: 32px;
	font-weight: bold;
}

#board-content {
	margin-top: 50px;
	width: 100%;
	height: 500px;
}

#board-attach {
	width: 100%;
	height: 25px;
}

#board-button {
	width: 100%;
	height: 30px;
	text-align: right;
}

#board-button button {
	padding-top: 0;
	width: 60px;
	height: 25px;
	background-color: rgb(94, 94, 94);
	font-size: 12px;
	border: none;
}

#content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	resize: none;
	border: none;
}

#reply-part {
	width: 800px;
	height: 100%;
	margin: auto;
}

#reply-count {
	width: 100%;
	height: 25px;
}

#reply-list {
	width: 100%;
	height: 50px;
}

#reply-insert {
	width: 100%;
	height: 80px;
}

#reply-insert div {
	float: left;
}

#reply-insert-text {
	width: 90%;
	height: 100%;
}

#reply-insert-button {
	width: 10%;
	height: 100%;
}

#replyInsert {
	width: 100%;
	height: 100%;
	resize: none;
	margin: 0;
	padding: 0;
}

#btn-reply-insert {
	width: 100%;
	height: 100%;
	background-color: rgb(94, 94, 94);
	font-size: 12px;
	border: none;
}

textarea:focus {
	outline: none;
}

h1 {
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
}