body {
	margin: 0;
	padding: 0;
}

div {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: 1px solid gray;
}

#group-menubar-container {
	width: 100%;
	height: 500px;
	position: relative;
	border-bottom: 5px solid;
}

#group-menubar {
	width: 1200px;
	height: 400px;
	margin: auto;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

#group-thumbnail {
	width: 50%;
	height: 350px;
	float: left;
}

#group-thumbnail img {
	width: 100%;
	height: 100%;
}

#group-intro-container {
	width: 50%;
	height: 350px;
	float: left;
	background-color: rgb(224, 224, 224);
}

#btn-group-inquiry {
	margin-left: 250px;
	color: rgb(255, 255, 255);
	background-color: rgb(26, 188, 156);
	border: none;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	font-size: 12px;
	width: 100px;
	height: 36px;
}

#group-button {
	float: right;
	width: 40%;
	height: 50px;
	position: relative;
	padding-top: 5px;
}

#btn-group-join, #btn-group-quit {
	background-color: rgb(231, 76, 60);
	border: none;
	float: right;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	font-size: 12px;
	width: 120px;
	height: 36px;
}

#group-intro-name {
	width: 80%;
	height: 80px;
}

#group-intro-area, #group-intro-member, #group-intro-leader {
	width: 80%;
	height: 45px;
}

#group-name {
	padding-left: 30px;
	font-size: 40px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
}

#group-area, #group-member, #group-leader {
	padding-left: 30px;
	font-size: 16px;
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: 500;
}

#menu-button-container {
	width: 100%;
	height: 75px;
	position: relative;
}

#menu-button {
	width: 1100px;
	height: 60px;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
}

#btn-menu-info, #btn-menu-schedule, #btn-menu-board, #btn-menu-member {
	margin-right: 120px;
}

#btn-menu-info, #btn-menu-schedule, #btn-menu-board, #btn-menu-member,
	#btn-menu-gallery {
	margin-top: 10px;
	width: 100px;
	height: 40px;
	background-color: rgb(224, 224, 224);
	border: none;
	color: rgb(64, 64, 64);
	font-family: 'Noto Sans KR', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

/* #menu-info:active,
#menu-schedule:active,
#menu-board:active,
#menu-member:active,
#menu-gallery:active {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background-color: rgb(52, 152, 219);
    border: none;
    color: rgb(255, 255, 255);
} */