@charset "UTF-8";

#board-container {
	width: 1000px;
	height: 1000px;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
}

#board-th-no, #board-th-writer, #board-th-date, #board-th-count {
	width: 100px;
}

#board-th-title {
	width: 500px;
}

#board-td-title {
	padding-left: 20px;
}

td {
	height: 30px;
	font-size: 12px;
	border-bottom: 2px solid rgb(190, 190, 190);
}