<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>
	<!-- 1. 마이바티스 설정과 관련된 기본 세팅 선언 -->
	<settings>
		<setting name="jdbcTypeForNull" value="NULL"/>
		<!-- 
			만약 null로 데이터가 전달 되었다면 
			빈칸이 아닌 "NULL"로 인식해라 라고 설정
			value 설정 시 NULL 은 반드시 대문자로 작성
			(소문자인 경우는 지정되지 않은 실제 null로 인식되어 에러 발생)
		-->
	</settings>
	
	<typeAliases>
		<typeAlias type="com.best.innerjoin.member.model.vo.Member" alias="Member"/>
	</typeAliases>

	
	<!-- mapper 파일 등록 부분 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
 	</mappers>
</configuration>
